@font-face {
  font-family: 'tt_norms';
  src: url("../fonts/ttnorms-bold-webfont.woff2") format("woff2"), url("../fonts/ttnorms-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'tt_norms';
  src: url("../fonts/ttnorms-medium-webfont.woff2") format("woff2"), url("../fonts/ttnorms-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'tt_norms';
  src: url("../fonts/ttnorms-regular-webfont.woff2") format("woff2"), url("../fonts/ttnorms-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'tt_norms', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  color: #F0145A;
}

.visibility-desctop {
  visibility: hidden;
  display: none;
}

@media (min-width: 992px) {
  .visibility-desctop {
    visibility: visible;
    display: inline-block;
  }
}

.visibility-mobile {
  visibility: visible;
  display: inline-block;
}

@media (min-width: 768px) {
  .visibility-mobile {
    visibility: hidden;
    display: none;
  }
}

.visibility-tablet {
  visibility: visible;
  display: inline-block;
}

@media (min-width: 992px) {
  .visibility-tablet {
    visibility: hidden;
    display: none;
  }
}

.visibility-menu {
  visibility: hidden;
  display: none;
}

@media (min-width: 768px) {
  .visibility-menu {
    visibility: visible;
    display: inline-block;
  }
}

.h-hero {
  color: #F0145A;
}

.h-hero_mobile {
  font-size: 32px;
  line-height: 38px;
}

@media (min-width: 992px) {
  .h-hero {
    font-size: 42px;
    font-weight: 700;
  }
}

.h2 {
  color: #323264;
  font-size: 32px;
  font-weight: 500;
}

.h2_black-themes {
  color: #ffffff;
}

.h2_mobile {
  font-size: 22px;
  line-height: 26px;
}

.h3-caps {
  color: #323264;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.h3-caps_black-themes {
  color: #F0145A;
}

.h3-caps_mobile {
  line-height: 17px;
}

.h3 {
  color: #323264;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}

.h3_mobile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #686887;
}

.h3_black-themes {
  color: #24A3FF;
}

@media (min-width: 992px) {
  .h3 {
    font-size: 24px;
    line-height: 28px;
  }
}

.h4 {
  color: #323264;
  font-size: 18px;
  font-weight: 500;
}

.paragraph {
  color: #000000;
  font-size: 16px;
}

.paragraph_black-themes {
  color: #ffffff;
}

.paragraph_mobile {
  font-size: 18px;
  line-height: 26px;
}

.paragraph_mobile-services {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.paragraph_gray {
  color: #B3B3BA;
}

@media (min-width: 992px) {
  .paragraph {
    font-size: 18px;
    line-height: 26px;
  }
}

.grid {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}

.header-themes {
  background: url(../img/bg.svg) center bottom no-repeat, linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

@media (min-width: 992px) {
  .header-themes {
    background: url(../img/bg.svg) center bottom no-repeat, url(../img/bg-top.svg) center bottom no-repeat, linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  grid-template-rows: auto auto;
  padding: 20px;
  padding-bottom: 100px;
}

@media (min-width: 768px) {
  .header {
    grid-template-rows: auto auto auto;
  }
}

@media (min-width: 992px) {
  .header {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
  }
}

.header-info {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .header-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5px;
    padding-bottom: 12px;
  }
}

@media (min-width: 992px) {
  .header-info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
  }
}

.logo-box__svg {
  width: 78px;
  height: 31px;
}

@media (min-width: 768px) {
  .logo-box {
    grid-column: span 2;
  }
  .logo-box__svg {
    width: 156px;
    height: 62px;
  }
}

@media (min-width: 992px) {
  .logo-box {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    align-self: flex-start;
  }
  .logo-box__svg {
    width: 156px;
    height: 62px;
  }
}

.button {
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.button-lang {
  color: #B3B3BA;
  border-radius: 8px;
  padding: 5px 5px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: none;
  border: none;
}

.button-lang_active {
  background: #F0145A;
}

.button-lang:hover {
  background: #EDEDF7;
}

@media (min-width: 992px) {
  .button-lang {
    color: #ffffff;
  }
  .button-lang:hover {
    background: rgba(237, 237, 247, 0.5);
  }
}

.header-phone__anchor {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #B3B3BA;
}

@media (min-width: 768px) {
  .header-desctop_address {
    padding-right: 30px;
    padding-left: 18px;
  }
  .header-desctop__text {
    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #FFFFFF;
  }
  .header-desctop__text::before {
    content: '\2022';
    position: absolute;
    font-size: 26px;
    left: -18px;
    color: #ffffff;
  }
  .header-desctop_anchor {
    color: #ffffff;
    position: relative;
  }
  .header-desctop_anchor::before {
    content: '\2022';
    position: absolute;
    font-size: 26px;
    left: -20px;
  }
  .header-desctop_social {
    padding-left: 23px;
    position: relative;
  }
  .header-desctop_social::before {
    content: '\2022';
    position: absolute;
    font-size: 26px;
    left: 6px;
    top: -8px;
    color: #ffffff;
  }
  .header-desctop__svg:hover path {
    fill: #ffffff;
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background: #EC6F5D;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #EC6F5D;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu {
  text-align: right;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -13px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.menu__btn > span::before {
  content: '';
  top: -6px;
}

.menu__btn > span::after {
  content: '';
  top: 6px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 375px;
  height: 100%;
  margin: 0;
  padding: 95px 0;
  list-style: none;
  text-align: center;
  background: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #24A3FF;
  border: 1px solid #ffffff;
  border-radius: 12px;
  background: #F5F5FA;
  text-decoration: none;
}

.menu__item_current {
  color: #F0145A;
}

.menu__item:hover {
  background: #EDEDF7;
  color: #24A3FF;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__box {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

@media (min-width: 768px) {
  .menu {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    text-align: left;
  }
  .menu__box-desctop {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__item-desctop {
    padding-left: 15px;
  }
  .menu__item-desctop_color {
    color: #ffffff;
  }
  .menu__item-desctop_color:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

@media (min-width: 992px) {
  .menu {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
  }
}

.banner-title {
  padding-top: 45px;
  text-align: center;
}

.banner-title__text {
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  color: #ffffff;
  padding-bottom: 201px;
}

@media (min-width: 768px) {
  .banner-title {
    padding-top: 142px;
  }
  .banner-title__text {
    padding-bottom: 290px;
  }
}

.banner-button {
  padding-bottom: 20px;
  text-align: center;
}

.button-arrow {
  display: inline-block;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background: none;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 12px;
}

.button-arrow:hover {
  background: #F0145A;
}

.main-themes {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.main-themes::after {
  content: '';
  position: absolute;
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
  height: 10px;
  bottom: -20px;
  left: 40px;
  right: 40px;
}

@media (min-width: 992px) {
  .main-themes {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 43px;
}

.advantages__text-box {
  padding-top: 11px;
}

.advantages__title {
  padding-bottom: 18px;
}

.advantages__slider {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .advantages {
    padding-top: 40px;
    padding-bottom: 75px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .advantages__nav {
    width: 43%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: end;
  }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    padding: 0;
    border-right: 4px solid #E6E6F0;
  }
  .advantages__item {
    color: #B3B3BA;
    padding-bottom: 20px;
    padding-right: 35px;
  }
  .advantages__item:last-child {
    padding-bottom: 0;
  }
  .advantages__item_active {
    margin-right: -4px;
    border-right: 4px solid #F0145A;
  }
  .advantages__anchor {
    color: #ffffff;
    word-wrap: break-word;
  }
  .advantages__anchor_active {
    color: #F0145A;
  }
  .advantages__text-box {
    width: 57%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 50px;
  }
  .advantages__title {
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
    padding-bottom: 23px;
  }
  .advantages__text {
    font-size: 21px;
    line-height: 30px;
    padding-right: 86px;
  }
  .advantages__slider {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 6%;
  }
}

.slider-nav {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-nav__item {
  margin: 0 7px;
}

.slider-nav__button {
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-color: #24A3FF;
  opacity: 0.2;
  border: none;
  border-radius: 50%;
  text-indent: 20px;
  overflow: hidden;
}

.slider-nav__button:hover {
  background-color: #24A3FF;
  opacity: 0.6;
}

.slider-nav__button_active {
  background-color: #24A3FF;
  opacity: 1;
}

@media (min-width: 992px) {
  .slider-nav_change {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.services__text-box {
  padding-bottom: 1px;
}

.services__list {
  list-style: none;
  padding: 0;
}

.services__item {
  padding-top: 20px;
  padding-bottom: 21px;
}

.services__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 12px;
}

.services__image {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.services__svg {
  margin: 10px 9px;
}

.services::after {
  content: '';
  position: absolute;
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
  height: 10px;
  left: 20px;
  right: 20px;
}

@media (min-width: 768px) {
  .services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__item {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .services__text-box {
    padding-bottom: 16px;
  }
  .services__title {
    padding-top: 7px;
    padding-bottom: 10px;
  }
  .services__item-title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -20px;
  }
  .services__item {
    width: 33.333%;
    padding-top: 47px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .services__image {
    height: 92px;
    width: 92px;
  }
  .services__svg {
    margin: 14px 14px;
    width: 64px;
    height: 64px;
  }
  .services__anchor {
    padding-top: 21px;
    padding-bottom: 2px;
  }
}

.title-arrow {
  color: #24A3FF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3px;
}

.title-arrow_black-themes {
  color: #ffffff;
  opacity: 0.5;
}

.title-arrow_black-themes::after {
  content: '';
  display: block;
  -webkit-mask-image: url(../img/arrow_right.svg);
          mask-image: url(../img/arrow_right.svg);
  background-color: #ffffff;
  opacity: 0.5;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

.title-arrow::after {
  content: '';
  display: block;
  -webkit-mask-image: url(../img/arrow_right.svg);
          mask-image: url(../img/arrow_right.svg);
  background-color: #24A3FF;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

.title-arrow:hover {
  color: #F0145A;
}

.title-arrow:hover::after {
  background-color: #F0145A;
}

.team {
  padding: 20px;
  padding-top: 40px;
}

.team__box {
  background-color: #F5F5FA;
  border-radius: 18px;
  padding: 20px;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
}

.team__anchor {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-bottom: 5px;
}

.team__title {
  padding-bottom: 15px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.team__team-name {
  padding-top: 5px;
  padding-left: 10px;
}

.team__image-box {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
}

.team__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #EDEDF7;
}

.team__slider {
  margin-top: 13px;
}

@media (min-width: 992px) {
  .team {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 70px;
  }
  .team__box {
    grid-template-columns: 32% 68%;
    grid-template-rows: 11% 60% 29%;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .team__image-box {
    grid-column: 1 /2;
    grid-row: 1 /4;
    width: 100%;
    height: 500px;
    border-radius: 12px 0px 0px 12px;
  }
  .team__anchor {
    grid-row: 1 /2;
    grid-column: 2 /3;
    padding-left: 37px;
    padding-top: 45px;
  }
  .team__title {
    grid-row: 2 / 3;
    grid-column: 2/ 3;
    padding-left: 37px;
    padding-right: 35px;
    font-size: 42px;
    line-height: 50px;
  }
  .team__team-name {
    grid-column: 2 /3;
    grid-row: 3 /4;
    padding-left: 37px;
  }
  .team__slider {
    margin-top: 20px;
  }
}

.case {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 87px;
}

.case__list {
  list-style: none;
  padding: 0;
}

.case__item {
  background-color: #F5F5FA;
  border: 1px solid #ffffff;
}

.case__item:first-child {
  border-radius: 12px 12px 0px 0px;
}

.case__item:last-child {
  border-radius: 0px 0px 12px 12px;
}

.case__item:hover {
  background-color: #EDEDF7;
}

.case__item-text {
  display: block;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 21px;
  padding-left: 20px;
  padding-right: 51px;
}

.case__text {
  padding-bottom: 13px;
}

@media (min-width: 768px) {
  .case__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .case__item {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .case {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 75px;
  }
  .case__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .case__item {
    width: 33.333%;
  }
  .case__item:first-child {
    border-radius: 12px 0px 0px 0px;
  }
  .case__item:nth-child(3) {
    border-radius: 0px 12px 0px 0px;
  }
  .case__item:nth-child(4) {
    border-radius: 0px 0px 0px 12px;
  }
  .case__item:last-child {
    border-radius: 0px 0px 12px 0px;
  }
  .case__item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .case__text {
    padding-bottom: 20px;
  }
}

.client {
  padding-top: 4px;
}

.client__title {
  text-align: center;
  padding-bottom: 29px;
  line-height: 16px;
}

.client__list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client__item {
  width: 50%;
  text-align: center;
  height: 90px;
  line-height: 90px;
}

.client__item_hillel {
  background: #1C4280;
}

.client__item_wannabiz {
  background: #143646;
}

.client__item_tapgerine {
  background: #F48B30;
}

.client__item_dlook {
  background: #9E4DC3;
}

.client__item_orangear {
  background: #FD9339;
}

.client__item_adtelligent {
  background: #E2E2E4;
}

.client__item_clickky {
  background: #C71C36;
}

.client__item_eco-leasing {
  background: #DCF3F9;
}

.client__item_infra-tek {
  background: #EAEAEA;
}

.client__item_city-park {
  background: #282240;
}

.client__item_art-print {
  background: #1D4568;
}

.client__item_ultimate-card {
  background: #000000;
}

.client__img {
  vertical-align: middle;
}

@media (min-width: 768px) {
  .client__item {
    width: 33.333%;
    height: 120px;
  }
}

@media (min-width: 992px) {
  .client {
    padding-top: 8px;
  }
  .client__item {
    width: 25%;
    height: 120px;
  }
  .client__img {
    max-width: 100%;
    vertical-align: bottom;
  }
  .client__img_tapgerine {
    width: 179px;
    height: 44px;
  }
  .client__img_orangear {
    width: 174px;
    height: 44px;
  }
  .client__img_adtelligent {
    width: 187px;
    height: 48px;
  }
  .client__img_clickky {
    width: 138px;
    height: 61px;
  }
  .client__img_city-park {
    width: 181px;
    height: 38px;
  }
}

.publications {
  padding: 22px 20px 40px 20px;
  background: #F5F5FA;
}

.publications__box {
  padding-bottom: 25px;
}

.publications__anchor {
  padding-bottom: 4px;
}

.publications__list {
  list-style: none;
  padding: 0;
}

.publications__item {
  padding-bottom: 28px;
}

.publications__article {
  background: #ffffff;
  border-radius: 8px;
}

.publications__img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.publications__img_fisrt-art {
  background: #B26483;
}

.publications__img_second-art {
  background: #115EFB;
}

.publications__article-box {
  padding: 16px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.publications__article-title {
  line-height: 21px;
  color: #24A3FF;
  padding-bottom: 6px;
}

.publications__article-title:hover {
  color: #F0145A;
}

.publications__date {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}

.publications__button {
  padding-top: 7px;
  text-align: center;
}

@media (min-width: 768px) {
  .publications__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .publications__item {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  .publications {
    padding: 40px 60px 55px 60px;
  }
  .publications__anchor {
    padding-bottom: 10px;
  }
  .publications__box {
    padding-bottom: 44px;
  }
  .publications__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -20px;
  }
  .publications__item {
    width: 33.333%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .publications__img {
    width: 100%;
  }
  .publications__date {
    padding-bottom: 20px;
  }
  .publications__text-box {
    border-top: 4px solid #E6E6F0;
    padding-top: 20px;
  }
  .publications__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
  .publications__button {
    padding-top: 10px;
  }
}

.button-next {
  width: 250px;
  background: #24A3FF;
  border: none;
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  padding-top: 17px;
  padding-bottom: 17px;
  display: inline-block;
  text-align: center;
}

.button-next:hover {
  background: #0085FF;
}

.footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 118px;
  background: #F5F5FA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box {
  padding-top: 20px;
  border-top: 4px solid #E6E6F0;
}

.footer__top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.footer__mid-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.footer__text_address {
  color: #323264;
  padding-bottom: 10px;
}

.footer__text_phone {
  color: #46466E;
  padding-bottom: 20px;
}

.footer__text_mail {
  color: #24A3FF;
  padding-bottom: 21px;
}

.footer__text_copyright {
  font-weight: 500;
  text-align: center;
  color: #B3B3BA;
}

.footer__map {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.footer__social {
  padding-bottom: 16px;
}

.footer__social:hover path {
  fill: #F0145A;
}

@media (min-width: 768px) {
  .footer {
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 40px;
  }
  .footer__top-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 8px;
    padding-bottom: 22px;
  }
  .footer__text_address {
    padding-bottom: 0;
    padding-right: 26px;
  }
  .footer__text_phone {
    padding-right: 26px;
  }
  .footer__mid-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social {
    padding-right: 17px;
  }
}

@media (min-width: 992px) {
  .footer {
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 40px;
  }
  .footer__box {
    display: grid;
    text-align: left;
    grid-template: auto auto / 1fr;
  }
  .footer__top-box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 8px;
    padding-bottom: 22px;
  }
  .footer__text_address {
    padding-bottom: 0;
    padding-right: 45px;
  }
  .footer__text_phone {
    padding-right: 27px;
  }
  .footer__text_copyright {
    padding-top: 10px;
  }
  .footer__mid-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__social {
    padding-right: 32px;
  }
  .footer__bottom-box {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}

/*# sourceMappingURL=style.css.map */
