$navy: #323264;
$navy-mid: #46466E;
$navy-light: #686887;
$pink: #F0145A;
$blue:#24A3FF;
$blue-mid: #0085FF;
$blue-dark: #006CCF;
$gray: #F5F5FA;
$gray-light: #EDEDF7;
$gray-dark: #B3B3BA;
$zircon: #E6E6F0;
$white: #ffffff;
$black: #000000;

$gradient-right-botton: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-right-top: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-left-botton: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-red: linear-gradient(121.42deg, #F0145A 30.65%, #693264 107.33%);
